# Trabalho prático 4: representação de dados em banco de dados relacional

## Criando a estrutura do banco

In [40]:
import sqlite3
import pandas as pd
caminho = './'
banco = 'banco.db'

conexao = sqlite3.connect(caminho + banco)

tabelas = pd.read_sql_query(
    "SELECT name FROM sqlite_master WHERE type='table'", conexao)

existe_tabela_paises = False
existe_tabela_indicadores = False
existe_tabela_dados = False

for i, j in tabelas.iterrows():
    if(j['name'] == 'paises'):
        existe_tabela_paises = True
    if(j['name'] == 'indicadores'):
        existe_tabela_indicadores = True
    if(j['name'] == 'dados'):
        existe_tabela_dados = True

if not(existe_tabela_paises):
    script_cria_tabela_pais = open(
        caminho + 'cria_tabela_pais.sql', 'r').read()
    conexao.executescript(script_cria_tabela_pais)

if not(existe_tabela_indicadores):
    script_cria_tabela_indicadores = open(
        caminho + 'cria_tabela_indicadores.sql', 'r').read()
    conexao.executescript(script_cria_tabela_indicadores)

if not(existe_tabela_dados):
    script_cria_tabela_dados = open(
        caminho + 'cria_tabela_dados.sql', 'r').read()
    conexao.executescript(script_cria_tabela_dados)

conexao.commit()
conexao.close()

## Inserindo dados na tabela países

In [41]:
import pandas as pd

caminho: str = './'
arquivo: str = 'WDICountry.csv'
banco: str = 'banco.db'

df_paises = pd.read_csv(caminho + arquivo)

script_insere_pais: list[str] = []

for coluna, linha in df_paises.iterrows():
    if (linha['Region'] == 'Latin America & Caribbean'):
        country_code = linha['Country Code']
        short_name = linha['Table Name']
        region = linha['Region']
        script = f"INSERT INTO paises (nome_curto, nome_longo, regiao) VALUES ('{country_code}','{short_name}','{region}');"
        script_insere_pais.append(script)

# gravando script em um arquivo
file_insert = open(caminho + 'script_insere_paises.sql', 'w')
file_insert.writelines(script_insere_pais)
file_insert.close()

# lendo script com os dados dos países
f = open(caminho + 'script_insere_paises.sql', "r").read()
conexao = sqlite3.connect(caminho + banco)

conexao.executescript(f)


tabelas = pd.read_sql_query("SELECT * FROM paises", conexao)

print(tabelas)

conexao.close()

    pais_id nome_curto                      nome_longo  \
0         1        ABW                           Aruba
1         2        ARG                       Argentina
2         3        ATG             Antigua and Barbuda
3         4        BHS                    Bahamas, The
4         5        BLZ                          Belize
5         6        BOL                         Bolivia
6         7        BRA                          Brazil
7         8        BRB                        Barbados
8         9        CHL                           Chile
9        10        COL                        Colombia
10       11        CRI                      Costa Rica
11       12        CUB                            Cuba
12       13        CUW                         Curaçao
13       14        CYM                  Cayman Islands
14       15        DMA                        Dominica
15       16        DOM              Dominican Republic
16       17        ECU                         Ecuador
17       18        GRD                         Grenada
18       19        GTM                       Guatemala
19       20        GUY                          Guyana
20       21        HND                        Honduras
21       22        HTI                           Haiti
22       23        JAM                         Jamaica
23       24        KNA             St. Kitts and Nevis
24       25        LCA                       St. Lucia
25       26        MAF        St. Martin (French part)
26       27        MEX                          Mexico
27       28        NIC                       Nicaragua
28       29        PAN                          Panama
29       30        PER                            Peru
30       31        PRI                     Puerto Rico
31       32        PRY                        Paraguay
32       33        SLV                     El Salvador
33       34        SUR                        Suriname
34       35        SXM       Sint Maarten (Dutch part)
35       36        TCA        Turks and Caicos Islands
36       37        TTO             Trinidad and Tobago
37       38        URY                         Uruguay
38       39        VCT  St. Vincent and the Grenadines
39       40        VEN                   Venezuela, RB
40       41        VGB          British Virgin Islands
41       42        VIR           Virgin Islands (U.S.)

                       regiao
0   Latin America & Caribbean
1   Latin America & Caribbean
2   Latin America & Caribbean
3   Latin America & Caribbean
4   Latin America & Caribbean
5   Latin America & Caribbean
6   Latin America & Caribbean
7   Latin America & Caribbean
8   Latin America & Caribbean
9   Latin America & Caribbean
10  Latin America & Caribbean
11  Latin America & Caribbean
12  Latin America & Caribbean
13  Latin America & Caribbean
14  Latin America & Caribbean
15  Latin America & Caribbean
16  Latin America & Caribbean
17  Latin America & Caribbean
18  Latin America & Caribbean
19  Latin America & Caribbean
20  Latin America & Caribbean
21  Latin America & Caribbean
22  Latin America & Caribbean
23  Latin America & Caribbean
24  Latin America & Caribbean
25  Latin America & Caribbean
26  Latin America & Caribbean
27  Latin America & Caribbean
28  Latin America & Caribbean
29  Latin America & Caribbean
30  Latin America & Caribbean
31  Latin America & Caribbean
32  Latin America & Caribbean
33  Latin America & Caribbean
34  Latin America & Caribbean
35  Latin America & Caribbean
36  Latin America & Caribbean
37  Latin America & Caribbean
38  Latin America & Caribbean
39  Latin America & Caribbean
40  Latin America & Caribbean
41  Latin America & Caribbean