Construindo o dataframe com o indicador 'GDP per capita', excluindo as colunas 'Indicator Name' e 'Indicator Code' e persistindo o resultado no arquivo 'gfdd_gdp.csv':

In [2]:
from google.colab import drive 
import pandas as pd
import numpy as np
from datetime import datetime, date, timedelta

drive.mount('/content/gdrive')

caminho='gdrive/MyDrive/ufsm/aulas/introducao_ciencia_analise_dados_2022_1/aulas_21_24/'
#caminho='./'

nome='dataset_bancomundial.csv'

nomecaminho=caminho+nome

# le o dataset cujo nome esta definido na variavel 'nomecaminho'
gfdd = pd.read_csv(nomecaminho, sep=';', decimal=',')

conteudo_coluna='GDP per capita'

gfdd_linhas_gdp = gfdd[ gfdd['Indicator Name'].str.contains(conteudo_coluna) ]
gfdd_linhas_gdp = gfdd_linhas_gdp.reset_index(drop=True)

#print(gfdd_linhas_gdp)

colunas_para_excluir=[ 'Indicator Name', 'Indicator Code' ]

gfdd_gdp=gfdd_linhas_gdp.drop(colunas_para_excluir, axis=1)

nome_saida='gfdd_gdp.csv'
nomecaminho_saida=caminho+nome_saida
gfdd_gdp.to_csv(nomecaminho_saida, index=False, sep=';')

gfdd_gdp

Mounted at /content/gdrive
     index        Country Name Country Code  \
0       56         Afghanistan          AFG
1      171             Albania          ALB
2      286             Algeria          DZA
3      401             Andorra          ADO
4      516              Angola          AGO
..     ...                 ...          ...
212  24436  West Bank and Gaza          WBG
213  24551               World          WLD
214  24666         Yemen, Rep.          YEM
215  24781              Zambia          ZMB
216  24896            Zimbabwe          ZWE

                         Indicator Name  Indicator Code         1960  \
0    GDP per capita (Constant 2005 USD)  NY.GDP.PCAP.KD          NaN
1    GDP per capita (Constant 2005 USD)  NY.GDP.PCAP.KD          NaN
2    GDP per capita (Constant 2005 USD)  NY.GDP.PCAP.KD  1765.594712
3    GDP per capita (Constant 2005 USD)  NY.GDP.PCAP.KD          NaN
4    GDP per capita (Constant 2005 USD)  NY.GDP.PCAP.KD          NaN
..                                  ...             ...          ...
212  GDP per capita (Constant 2005 USD)  NY.GDP.PCAP.KD          NaN
213  GDP per capita (Constant 2005 USD)  NY.GDP.PCAP.KD  3051.733155
214  GDP per capita (Constant 2005 USD)  NY.GDP.PCAP.KD          NaN
215  GDP per capita (Constant 2005 USD)  NY.GDP.PCAP.KD   929.859635
216  GDP per capita (Constant 2005 USD)  NY.GDP.PCAP.KD   491.211280

            1961         1962         1963         1964  ...          2004  \
0            NaN          NaN          NaN          NaN  ...    234.996625
1            NaN          NaN          NaN          NaN  ...   2623.046356
2    1488.051250  1166.444702  1529.072727  1578.458614  ...   2912.290298
3            NaN          NaN          NaN          NaN  ...  30329.589910
4            NaN          NaN          NaN          NaN  ...   1494.297297
..           ...          ...          ...          ...  ...           ...
212          NaN          NaN          NaN          NaN  ...   1345.041617
213  3141.629497  3260.449937  3359.684605  3509.074124  ...   7073.078585
214          NaN          NaN          NaN          NaN  ...    808.994770
215   915.482873   866.605283   868.449502   945.371776  ...    695.295247
216   505.499026   496.160173   510.014469   488.019451  ...    480.878141

             2005          2006          2007          2008         2009  \
0      252.407893    258.418692    285.917091    288.758200   340.931427
1     2781.510727   2939.071105   3136.090047   3398.412855  3536.153569
2     3038.748713   3041.480757   3092.039129   3098.409819  3091.058258
3    31268.966740  33125.386790  33840.224790  35628.410700          NaN
4     1706.543621   1990.840900   2359.279962   2597.055971  2573.687194
..            ...           ...           ...           ...          ...
212   1455.933681   1354.732180   1297.125426   1151.478444  1352.911485
213   7238.226746   7446.488071   7648.419029   7670.375919  7423.618064
214    831.880290    836.569060    843.256523    856.036376   870.336757
215    726.403488    763.086500    804.427024    842.817948   894.078977
216    452.789025    436.644469    420.168970    344.742142   362.399824

            2010         2011         2012         2013
0     360.705615   373.451677   417.055042   415.003478
1    3685.487144  3790.018085  3857.254570  3916.144766
2    3143.629137  3171.735083  3215.206987  3243.990093
3            NaN          NaN          NaN          NaN
4    2576.646856  2593.843498  2643.720551  2737.877052
..           ...          ...          ...          ...
212  1344.978813  1408.291836  1562.007742  1448.931237
213  7636.524986  7758.427905  7845.997828  7933.752868
214   878.139582   728.326235   729.162353   742.195591
215   956.908380   986.452717  1019.836266  1053.603703
216   397.821595   435.794144   469.001848   475.302222

[217 rows x 59 columns]

,index,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,56,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,234.996625,252.407893,258.418692,285.917091,288.758200,340.931427,360.705615,373.451677,417.055042,415.003478
1,171,Albania,ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2623.046356,2781.510727,2939.071105,3136.090047,3398.412855,3536.153569,3685.487144,3790.018085,3857.254570,3916.144766
2,286,Algeria,DZA,1765.594712,1488.051250,1166.444702,1529.072727,1578.458614,1633.388046,1513.216920,...,2912.290298,3038.748713,3041.480757,3092.039129,3098.409819,3091.058258,3143.629137,3171.735083,3215.206987,3243.990093
3,401,Andorra,ADO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30329.589910,31268.966740,33125.386790,33840.224790,35628.410700,NaN,NaN,NaN,NaN,NaN
4,516,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1494.297297,1706.543621,1990.840900,2359.279962,2597.055971,2573.687194,2576.646856,2593.843498,2643.720551,2737.877052
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,24436,West Bank and Gaza,WBG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1345.041617,1455.933681,1354.732180,1297.125426,1151.478444,1352.911485,1344.978813,1408.291836,1562.007742,1448.931237
213,24551,World,WLD,3051.733155,3141.629497,3260.449937,3359.684605,3509.074124,3628.865316,3763.133887,...,7073.078585,7238.226746,7446.488071,7648.419029,7670.375919,7423.618064,7636.524986,7758.427905,7845.997828,7933.752868
214,24666,"Yemen, Rep.",YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,808.994770,831.880290,836.569060,843.256523,856.036376,870.336757,878.139582,728.326235,729.162353,742.195591
215,24781,Zambia,ZMB,929.859635,915.482873,866.605283,868.449502,945.371776,1069.532897,979.403876,...,695.295247,726.403488,763.086500,804.427024,842.817948,894.078977,956.908380,986.452717,1019.836266,1053.603703
216,24896,Zimbabwe,ZWE,491.211280,505.499026,496.160173,510.014469,488.019451,495.477562,486.927346,...,480.878141,452.789025,436.644469,420.168970,344.742142,362.399824,397.821595,435.794144,469.001848,475.302222

Buscando os pa√≠ses da Am√©rica do Sul do dataset 'dataset_bancomundial_paises.csv' e criando o dataset 'gfdd_paises_america_sul':

In [5]:
from google.colab import drive 
import pandas as pd
import numpy as np
from datetime import datetime, date, timedelta

drive.mount('/content/gdrive')

caminho='gdrive/MyDrive/ufsm/aulas/introducao_ciencia_analise_dados_2022_1/aulas_21_24/'
#caminho='./'

nome='dataset_bancomundial_paises.csv'

nomecaminho=caminho+nome

# le o dataset cujo nome esta definido na variavel 'nomecaminho'
gfdd_paises = pd.read_csv(nomecaminho, sep=';', decimal=',')

gfdd_paises.columns

print(gfdd_paises['Region'].unique())

regiao_intesse='Latin America'

gfdd_paises.fillna( '0', inplace=True )
gfdd_paises_america_latina_caribe = gfdd_paises[ gfdd_paises['Region'].str.contains(regiao_intesse) ]

gfdd_paises_america_latina_caribe = gfdd_paises_america_latina_caribe[['Country Code','Short Name']]

print(gfdd_paises_america_latina_caribe)

codigos=gfdd_paises_america_latina_caribe['Country Code'].to_numpy()

codigos_paises_america_sul = [ 'ARG', 'BOL', 'BRA', 'CHL', 'COL', 'ECU', 'GUY', 'PRY', 'PER', 'SUR', 'URY', 'VEN' ]

vazio=1
for pais in codigos_paises_america_sul:
    sel=gfdd_paises_america_latina_caribe[ gfdd_paises_america_latina_caribe['Country Code'].str.contains(pais) ]
    if( vazio==1 ):
        gfdd_paises_america_sul=sel
        vazio=0
    else:
        gfdd_paises_america_sul= pd.concat([gfdd_paises_america_sul,sel],ignore_index=True)

print(gfdd_paises_america_sul)
    
nome_saida='gfdd_paises_america_sul.csv'
nomecaminho_saida=caminho+nome_saida
gfdd_paises_america_sul.to_csv(nomecaminho_saida, index=False, sep=';')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
['South Asia' 'Europe & Central Asia' 'Middle East & North Africa'
 'Sub-Saharan Africa' 'Latin America & Caribbean' 'East Asia & Pacific'
 'North America' nan]
    Country Code                      Short Name
5            ATG             Antigua and Barbuda
6            ARG                       Argentina
8            ABW                           Aruba
14           BRB                        Barbados
17           BLZ                          Belize
21           BOL                         Bolivia
24           BRA                          Brazil
33           CYM                  Cayman Islands
36           CHL                           Chile
38           COL                        Colombia
41           CRI                      Costa Rica
44           CUB                            Cuba
45           CUW                         Cura√ßao
52           DMA                        Dominica
53           DOM              Dominican Republic
55           ECU                         Ecuador
57           SLV                     El Salvador
74           GRD                         Grenada
75           GTM                       Guatemala
78           GUY                          Guyana
79           HTI                           Haiti
81           HND                        Honduras
93           JAM                         Jamaica
127          MEX                          Mexico
143          NIC                       Nicaragua
150          PAN                          Panama
152          PRY                        Paraguay
153          PER                            Peru
178          KNA             St. Kitts and Nevis
179          LCA                       St. Lucia
180          VCT  St. Vincent and the Grenadines
183          SUR                        Suriname
191          BHS                     The Bahamas
196          TTO             Trinidad and Tobago
207          URY                         Uruguay
210          VEN                       Venezuela
['ATG' 'ARG' 'ABW' 'BRB' 'BLZ' 'BOL' 'BRA' 'CYM' 'CHL' 'COL' 'CRI' 'CUB'
 'CUW' 'DMA' 'DOM' 'ECU' 'SLV' 'GRD' 'GTM' 'GUY' 'HTI' 'HND' 'JAM' 'MEX'
 'NIC' 'PAN' 'PRY' 'PER' 'KNA' 'LCA' 'VCT' 'SUR' 'BHS' 'TTO' 'URY' 'VEN']
   Country Code Short Name
0           ARG  Argentina
1           BOL    Bolivia
2           BRA     Brazil
3           CHL      Chile
4           COL   Colombia
5           ECU    Ecuador
6           GUY     Guyana
7           PRY   Paraguay
8           PER       Peru
9           SUR   Suriname
10          URY    Uruguay
11          VEN  Venezuela

Buscando os pa√≠ses da Am√©rica do Sul do dataset 'gfdd_gdp.csv' e criando o dataset 'gfdd_gdp_paises_america_sul':

In [6]:
from google.colab import drive 
import pandas as pd
import numpy as np
from datetime import datetime, date, timedelta

drive.mount('/content/gdrive')

caminho='gdrive/MyDrive/ufsm/aulas/introducao_ciencia_analise_dados_2022_1/aulas_21_24/'
#caminho='./'

nome='gfdd_gdp.csv'

nomecaminho=caminho+nome

# le o dataset cujo nome esta definido na variavel 'nomecaminho'
gfdd_gdp = pd.read_csv(nomecaminho, sep=';', decimal=',')

#print(gfdd_gdp)

nome='gfdd_paises_america_sul.csv'

nomecaminho=caminho+nome

gfdd_paises_america_sul = pd.read_csv(nomecaminho, sep=';', decimal=',')

#print(gfdd_paises_america_sul)

codigos_paises_america_sul=gfdd_paises_america_sul['Country Code'].to_numpy()


vazio=1
for pais in codigos_paises_america_sul:
    sel=gfdd_gdp[ gfdd_gdp['Country Code'].str.contains(pais) ]
    if( vazio==1 ):
        gfdd_gdp_paises_america_sul=sel
        vazio=0
    else:
        gfdd_gdp_paises_america_sul= pd.concat([gfdd_gdp_paises_america_sul,sel],ignore_index=True)

print(gfdd_gdp_paises_america_sul)

nome_saida='gfdd_gdp_paises_america_sul.csv'
nomecaminho_saida=caminho+nome_saida
gfdd_gdp_paises_america_sul.to_csv(nomecaminho_saida, index=False, sep=';')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
    index   Country Name Country Code         1960         1961         1962  \
0     746      Argentina          ARG  3732.330981  3871.977071  3778.406097
1    2586        Bolivia          BOL  874.2862486   872.908987  901.2483892
2    2931         Brazil          BRA  1726.566347  1847.818993  1886.379547
3    4311          Chile          CHL  2479.185118  2514.911146  2579.127548
4    4541       Colombia          COL  1452.070326  1483.790202  1519.085708
5    6381        Ecuador          ECU  1593.158191    1572.4319  1597.720999
6    9141         Guyana          GUY  769.5516028  783.7076897  771.3561226
7   17766       Paraguay          PRY  569.5127394  592.9515741  596.5027534
8   17881           Peru          PER  1855.983158  1936.505045  2038.392034
9   21331       Suriname          SUR          NaN          NaN          NaN
10  23861        Uruguay          URY  3151.804265  3188.860851   3099.83039
11  24206  Venezuela, RB          VEN  5939.844275  5901.847273  6170.561015

           1963         1964         1965         1966  ...         2004  \
0   3522.337065  3820.330238  4161.616376   4074.74652  ...   5328.56013
1   937.8832829   960.923122  992.1208463  1032.602183  ...  995.3472435
2   1846.578943  1855.630343  1858.753725  1883.606769  ...  4647.527247
3    2669.11985  2674.522068  2623.912487  2823.160961  ...  7289.117742
4   1517.514059  1570.606042  1571.124172  1607.141781  ...  3290.427523
5   1612.523159  1688.907898  1717.998242  1663.098192  ...  2913.809095
6   658.9762801  714.7023523  769.3836163   788.194784  ...  1111.509544
7   608.2116052  617.1544618  637.9518398  633.4429278  ...  1476.213435
8   2053.808225  2126.977383  2168.968729  2285.336887  ...  2573.756759
9           NaN          NaN          NaN          NaN  ...  3476.253539
10  3068.290717  3107.482785  3106.004658  3167.820326  ...  4861.121242
11  6180.485838  6627.359018   6667.96315  6544.984737  ...  5022.738461

           2005         2006         2007         2008         2009  \
0   5767.657012  6195.384942          NaN          NaN          NaN
1   1020.790305  1051.471756  1081.392031  1129.480693  1148.787508
2   4739.305437  4874.601481   5121.02886  5336.079146  5271.138037
3   7614.522058  7869.604222  8194.138629  8382.314885  8217.059194
4   3392.924413  3565.886389  3755.671308   3832.49512  3840.544637
5   3012.752437   3090.15946  3103.636773  3245.438512  3209.850899
6   1084.179401  1020.174872  1084.651831  1098.488909  1127.218998
7   1479.403778  1522.006637  1575.577466  1646.017051  1553.003641
8   2704.002294  2875.694802  3087.862122  3335.197474  3334.237794
9   3590.541042  3686.699136  3835.309737  3955.944106  4037.552114
10  5221.673186  5427.425142  5768.314574  6162.847727  6286.104002
11  5444.662518   5879.86805  6287.030897  6509.547087  6199.100094

           2010         2011         2012         2013
0           NaN          NaN          NaN          NaN
1   1176.974475  1217.746318  1259.813782  1323.124571
2     5618.3246  5721.289504  5730.249146  5823.043784
3   8610.022043  9029.733681  9430.496585  9728.481224
4   3937.867201   4140.82909  4251.987225  4394.066614
5    3268.81379  3469.253651  3592.448131  3700.526148
6    1168.89919  1225.042304  1276.802138    1336.3414
7     1725.7948  1769.675861  1717.887096   1929.09484
8   3575.409732  3760.856554  3935.089585  4109.596136
9   4207.062877  4388.522625  4480.125739  4568.685095
10  6791.050415  7264.808954  7505.786591  7808.626662
11  6010.079789  6163.939338  6412.027073  6401.905166

[12 rows x 57 columns]