Construindo o dataframe com o indicador 'GDP per capita', excluindo as colunas 'Indicator Name' e 'Indicator Code' e persistindo o resultado no arquivo 'gfdd_gdp.csv':

In [1]:
from google.colab import drive 
import pandas as pd
import numpy as np
from datetime import datetime, date, timedelta

drive.mount('/content/gdrive')

caminho='gdrive/MyDrive/ufsm/aulas/introducao_ciencia_analise_dados_2022_1/aulas_13_16_python/'
#caminho='./'

nome='dataset_bancomundial.csv'

nomecaminho=caminho+nome

# le o dataset cujo nome esta definido na variavel 'nomecaminho'
gfdd = pd.read_csv(nomecaminho, sep=';', decimal=',')

conteudo_coluna='GDP per capita'

gfdd_linhas_gdp = gfdd[ gfdd['Indicator Name'].str.contains(conteudo_coluna) ]
gfdd_linhas_gdp = gfdd_linhas_gdp.reset_index(drop=True)

colunas_para_excluir=[ 'Indicator Name', 'Indicator Code' ]

gfdd_gdp=gfdd_linhas_gdp.drop(colunas_para_excluir, axis=1)

nome_saida='gfdd_gdp.csv'
nomecaminho_saida=caminho+nome_saida
gfdd_gdp.to_csv(nomecaminho_saida, index=False, sep=';')

gfdd_gdp

Mounted at /content/gdrive

,index,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,56,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,234.996625,252.407893,258.418692,285.917091,288.758200,340.931427,360.705615,373.451677,417.055042,415.003478
1,171,Albania,ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2623.046356,2781.510727,2939.071105,3136.090047,3398.412855,3536.153569,3685.487144,3790.018085,3857.254570,3916.144766
2,286,Algeria,DZA,1765.594712,1488.051250,1166.444702,1529.072727,1578.458614,1633.388046,1513.216920,...,2912.290298,3038.748713,3041.480757,3092.039129,3098.409819,3091.058258,3143.629137,3171.735083,3215.206987,3243.990093
3,401,Andorra,ADO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30329.589910,31268.966740,33125.386790,33840.224790,35628.410700,NaN,NaN,NaN,NaN,NaN
4,516,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1494.297297,1706.543621,1990.840900,2359.279962,2597.055971,2573.687194,2576.646856,2593.843498,2643.720551,2737.877052
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,24436,West Bank and Gaza,WBG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1345.041617,1455.933681,1354.732180,1297.125426,1151.478444,1352.911485,1344.978813,1408.291836,1562.007742,1448.931237
213,24551,World,WLD,3051.733155,3141.629497,3260.449937,3359.684605,3509.074124,3628.865316,3763.133887,...,7073.078585,7238.226746,7446.488071,7648.419029,7670.375919,7423.618064,7636.524986,7758.427905,7845.997828,7933.752868
214,24666,"Yemen, Rep.",YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,808.994770,831.880290,836.569060,843.256523,856.036376,870.336757,878.139582,728.326235,729.162353,742.195591
215,24781,Zambia,ZMB,929.859635,915.482873,866.605283,868.449502,945.371776,1069.532897,979.403876,...,695.295247,726.403488,763.086500,804.427024,842.817948,894.078977,956.908380,986.452717,1019.836266,1053.603703
216,24896,Zimbabwe,ZWE,491.211280,505.499026,496.160173,510.014469,488.019451,495.477562,486.927346,...,480.878141,452.789025,436.644469,420.168970,344.742142,362.399824,397.821595,435.794144,469.001848,475.302222

Buscando os países da América do Sul do dataset 'dataset_bancomundial_paises.csv':

In [2]:
from google.colab import drive 
import pandas as pd
import numpy as np
from datetime import datetime, date, timedelta

drive.mount('/content/gdrive')

caminho='gdrive/MyDrive/ufsm/aulas/introducao_ciencia_analise_dados_2022_1/aulas_13_16_python/'
#caminho='./'

nome='dataset_bancomundial_paises.csv'

nomecaminho=caminho+nome

# le o dataset cujo nome esta definido na variavel 'nomecaminho'
gfdd_paises = pd.read_csv(nomecaminho, sep=';', decimal=',')

gfdd_paises.columns

print(gfdd_paises['Region'].unique())

regiao_intesse='Latin America'

gfdd_paises.fillna( '0', inplace=True )
gfdd_paises_america_latina_caribe = gfdd_paises[ gfdd_paises['Region'].str.contains(regiao_intesse) ]

gfdd_paises_america_latina_caribe = gfdd_paises_america_latina_caribe[['Country Code','Short Name']]

print(gfdd_paises_america_latina_caribe)

codigos=gfdd_paises_america_latina_caribe['Country Code'].to_numpy()

print(codigos)

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
['South Asia' 'Europe & Central Asia' 'Middle East & North Africa'
 'Sub-Saharan Africa' 'Latin America & Caribbean' 'East Asia & Pacific'
 'North America' nan]
    Country Code                      Short Name
5            ATG             Antigua and Barbuda
6            ARG                       Argentina
8            ABW                           Aruba
14           BRB                        Barbados
17           BLZ                          Belize
21           BOL                         Bolivia
24           BRA                          Brazil
33           CYM                  Cayman Islands
36           CHL                           Chile
38           COL                        Colombia
41           CRI                      Costa Rica
44           CUB                            Cuba
45           CUW                         Curaçao
52           DMA                        Dominica
53           DOM              Dominican Republic
55           ECU                         Ecuador
57           SLV                     El Salvador
74           GRD                         Grenada
75           GTM                       Guatemala
78           GUY                          Guyana
79           HTI                           Haiti
81           HND                        Honduras
93           JAM                         Jamaica
127          MEX                          Mexico
143          NIC                       Nicaragua
150          PAN                          Panama
152          PRY                        Paraguay
153          PER                            Peru
178          KNA             St. Kitts and Nevis
179          LCA                       St. Lucia
180          VCT  St. Vincent and the Grenadines
183          SUR                        Suriname
191          BHS                     The Bahamas
196          TTO             Trinidad and Tobago
207          URY                         Uruguay
210          VEN                       Venezuela
['ATG' 'ARG' 'ABW' 'BRB' 'BLZ' 'BOL' 'BRA' 'CYM' 'CHL' 'COL' 'CRI' 'CUB'
 'CUW' 'DMA' 'DOM' 'ECU' 'SLV' 'GRD' 'GTM' 'GUY' 'HTI' 'HND' 'JAM' 'MEX'
 'NIC' 'PAN' 'PRY' 'PER' 'KNA' 'LCA' 'VCT' 'SUR' 'BHS' 'TTO' 'URY' 'VEN']